.cl1{


max-width: 3in;
margin: 30px;
max-height: 3in;
overflow: hidden;
}
.cl1 :hover{
	text-decoration-color: red;
}



.card-img{
	max-width: 300px;
	
	width: 190px;
    padding:10px 0px 10px 0px;
	height:200px;
	transition: 1s;

}
.card{
	align-items :center;
}
.bd{
	background-color: rgba(82, 242, 101,.3);
}

.cardprice{
	font-size:  150%;
	font-family: 'Times New Roman', Times, serif,italic;
    color:rgb(148, 67, 67);
	
}



.slick-slide {
    padding: 0 1.438rem;
    cursor: pointer;
}


.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  }
  small{
	  opacity: 0.5;
  }
.title{
	font-family: 'fantasia';
}
.card-btn{
	margin : 0px 10px;
}
.zoom:hover {
	text-align: center;
	align-items: center;
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.1); 
  }
  .shadow{
	box-shadow: 4px 4px 5px 0 gray;
	height: 38 0px;
	width: 350px;
	background-color: #ffffff;
  }
  .crd{
	  border:  none;
	  margin :10px;
	  padding:  10px;
  }
