@import url('https://fonts.googleapis.com/css?family=Italianno|Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
.itm{
    margin: 30px;
    transform: translateX(-9%);
    border: 7px groove grey;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    animation-name: itm-animation;
    animation-play-state: inherit;
    animation-duration: 6s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}
@keyframes itm-animation{
 0%{box-shadow: 6px 6px 6px grey;}
 20% {box-shadow: 6px 6px 6px black;}
 40%{box-shadow: 6px 6px 6px grey;}
 60% {box-shadow: 6px 6px 6px black;}
 80%{box-shadow: 6px 6px 6px grey;}
 100% {box-shadow: 6px 6px 6px black;}
}
.buybackground{
    background-color:lightgray;
    /* border: 2px black; */
    border-left: 2px dashed yellow;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}
.cntr{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.flexcss{
   border-bottom: 2px dashed grey;
   border-top: 2px dashed grey;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px;
  padding: 2px 10px;
}
.photobanner::-webkit-scrollbar {
   height: 15px;
 }
 .photobanner::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
 }
   
 .photobanner::-webkit-scrollbar-thumb {
    border: 2px groove yellow;
   background-image: -webkit-gradient(linear, left top, right top, from(#eff307), to(#70f523));
   background-image: -webkit-linear-gradient(left, #eff307 0%, #70f523 100%);
   background-image: linear-gradient(to right, #eff307 0%, #70f523 100%);
   
    }
   
    .photobanner::-webkit-scrollbar-thumb:hover {
      background-image: -webkit-linear-gradient(330deg, #70f523 0%, #eff307 100%);
background-image: linear-gradient(120deg, #70f523 0%, #eff307 100%);
    }
.photobanner > img{
   max-height: 250px;
   max-width: 250px;
   margin: 10px;
   display: inline-block;
}
.photobanner > img:hover{
   transition-duration: 1s;
   transition: scale(1.1);
}
.photobanner{
   vertical-align: middle;
   display: inline-block;
   width: 100%;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;

}

  .cntnt{
      margin:50px 40% ;
  }
  .gFont1{
    font-family: 'Racing Sans One' ;
  }
  .gFont2{
    font-family: 'Simonetta' ;
    font-size: 18px;
    font-weight: bold;
    text-overflow: clip;
    overflow-y: auto;
  }
  .bkstyl{
      margin: 0px;
      padding: 0px;
      border-right: 15px dotted grey;
      border-left: 1px solid black;
      box-shadow: -10px 0px 10px dimgray;
  }
  @media screen and (max-width: 600px) {
     .itm > div > img{
        max-width: 300px;
        max-height: 250px;
     }
     .itm{
        border-style: none;
        animation: none;
        margin: 3px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%) 
  }
  .bkstyl{
   margin: px;
   padding: px;
   border-right: none;
   border-left: none;
   box-shadow: none;
}
.gFont2 , .gFont1 {
   padding: 5px;
}
.buybackground{
   background-color: none;
   /* border: 2px black; */
   border-left: none;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   margin-top: 35px;
}
.cntnt{
   margin:50px  ;  
}
.flexcss{
   max-height: 50%;
   width: 100%;
overflow-x: scroll;
background: transparent;  
padding-top: 1px;
padding-bottom: 1px;
border-top: 2px dashed lightgray;
border-bottom: 2px dashed lightgray;
margin: 3px auto;
padding: 3px; 
}
.photobanner{
   max-height: 70%;
   margin-bottom: 3px;
   padding-top: 5px;
   padding-bottom: 5px;
}
.photobanner > img{
   max-height: 70%;
}
  }